// Sticky footer styles
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 180px !important;
}

.footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background: start-color('background', 'dark');
  padding-top: 40px;

  .text-muted {
    color: start-color('foreground', 'light');
  }

  img.payfort {
    max-width: 130px;
    margin-bottom: 10px;
  }
}
