$modal-width: 450px;
$modal-border-radius: 5px;
$modal-border-width: 2 * $input-border-width;
$modal-backdrop: start-color('background');

.start-modal {
  .modal-dialog {
    max-width: $modal-width;
  }

  .modal-content {
    border-radius: $modal-border-radius;
    border-width: $modal-border-width;
    border-color: $input-border-color;
    box-shadow: none;

    .modal-header {
      @extend h1;
      margin: 0;
    }

    .modal-body {

    }
  }
}

// Backdrop is a child of body
.modal-backdrop {
  background-color: $modal-backdrop !important;

  &.in {
    opacity: 0.9 !important;
  }
}
