$panel-border-width: 2px;
$panel-outer-margin: 5px;
$panel-border-radius: 2*$input-border-radius;

.start-panel {
  border: $panel-border-width;
  border-color: start-color('secondary', 'light');
  border-style: solid;
  border-radius: $panel-border-radius;
  margin: $panel-outer-margin;

  .panel-heading {
    background: start-color('background', 'light');
    border-bottom: $panel-border-width solid start-color('secondary', 'light');

    .panel-title {
      font-family: start-font('primary', 'bold');
    }
  }
}
