$select-padding: $input-padding;
$select-border-radius: $input-border-radius;
$select-border-width: $input-border-width;

%select {
  display: inline-block;
  padding: $select-padding;
  @include type-setting(0);
  height: 2 * line-height(0);
  font-weight: bold;
  border-width: $select-border-width;
  border-style: solid;
  border-radius: $select-border-radius;
  color: start-color('foreground');
}

.start-select {
  @extend %select;
}
