// configuration options
$row-padding: 6px;

%table {
  border: 0;

  thead {
    background-color: start-color('secondary', 'light');

    tr {

      th, td {
        padding: 2*$row-padding $row-padding;
        font-family: start-font('primary', 'bold');
        text-transform: uppercase;
      }
    }
  }

  tbody {


    tr {
      border-bottom: 1px solid start-color('secondary', 'light');

      td {
        padding: $row-padding;
      }
    }
  }
}

.start-table {
  @extend %table;
}
