%header {
  font-family: start-font('primary', 'bold');
  @include type-setting(2);
}

* {
  font-family: start-font('primary');
}

h1, h2, h3 {
  &, * {
    @extend %header;
  }

  // Primary page header
  &.page-header {
    color: start-color('primary');
    text-transform: uppercase;
    margin: 0 0 20px 0;
    border: 0;
  }
}

em {
  font-family: start-font('primary', 'italic');
}

.center {
  text-align: center;
}
