* {
  font-family: start-font('primary');
}

/**
 * Header stuff
 */
%header {
  font-family: start-font('primary', 'bold');
}

h1, h2, h3 {
  &, * {
    @extend %header;
  }

  // Primary page header
  &.page-header {
    color: start-color('primary');
    text-transform: uppercase;
    margin: 0 0 20px 0;
    border: 0;
  }
}

h1 { @include type-setting(2); }
h2 { @include type-setting(1); }
h3 { @include type-setting(0); }

em {
  font-family: start-font('primary', 'italic');
}

.center {
  text-align: center;
}
