
@font-face {
  font-family: 'HelveticaNeueLTArabic-Roman';
  src: url('HelveticaNeueLTArabic-Roman.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTArabic-Roman.woff') format('woff'), url('HelveticaNeueLTArabic-Roman.ttf')  format('truetype'), url('HelveticaNeueLTArabic-Roman.svg#HelveticaNeueLTArabic-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
