@import "../utils/module";
@import "../fonts/module";

$start-font-key: 'regular' !default;
$base-font-size: 14px;
$base-line-height: $base-font-size * 1.25;

$type-scale: (
  -1: $base-font-size * 0.75, // small text
   0: $base-font-size,        // body text
   1: $base-font-size * 1.3,  // large text
   2: $base-font-size * 2     // main heading
);

$line-heights: (
  -1: $base-line-height,
   0: $base-line-height,
   1: $base-line-height * 2,
   2: $base-line-height * 2
);

$start-fonts: (
  'primary': (
    'regular': 'brandon_text_regularregular',
    'medium': 'brandon_textmedium',
    'italic': 'brandon_textregular_italic',
    'bold': 'brandon_textbold'
  )
);
